.button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #0fa8a8;
    border: solid 2px #0fa8a8;
    color: #fff;
    width: 300px;
    cursor: pointer;
    transition: all ease 0.3s;
    font-weight: bold;
}

.button:hover {
    background-color: #0a7474;
    border: solid 2px #034d4d;
}

.button.disabled {
    background-color: gray;
    border: 2px solid gray;
    cursor: auto;
}