.popup {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 150px;
    padding: 15px;
    background-color: white; 
    color: #333; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-content: space-between;
    max-width: 300px;
    z-index: 9999;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.popup.success {
    border-left: 5px solid #006f89; 
    background-color: white; 
}

.popup.error {
    border-left: 5px solid #006f89;
    background-color: white;
}

.popup button {
    background: none;
    border: none;
    color: #006f89; 
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
}

.popup button:hover {
    opacity: 0.7;
    color: #004f61; 
}

.popup p {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    color: #333; 
}
